<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>jukouseitouroku</title>
</head>
<body>
<h1>jukouseitouroku</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">

  <div>
    <label for="name">namae</label>
    <input type="text" id="name" th:field="*{student.name}" required />
  </div>

  <div>
    <label for="kanaName">kana</label>
    <input type="text" id="kanaName" th:field="*{student.kanaName}" required />
  </div>

  <div>
    <label for="nickname">nikkune-mu</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" />
  </div>

  <div>
    <label for="email">me-ru</label>
    <input type="email" id="email" th:field="*{student.email}" required />
  </div>

  <div>
    <label for="region">tiiki</label>
    <input type="text" id="region" th:field="*{student.region}" />
  </div>

  <div>
    <label for="age">nennrei</label>
    <input type="number" id="age" th:field="*{student.age}" />
  </div>

  <div>
    <label for="gender">seibetu</label>
    <input type="text" id="gender" th:field="*{student.gender}" />
  </div>

  <div>
    <label for="remark">bikou</label>
    <input type="text" id="remark" th:field="*{student.remark}" />
  </div>

  <div th:each="course, stat : *{studentsCourses}">
    <label>jyukouko-sumei: </label>
    <input type="text"
           th:id="'studentCourse_' + ${stat.index} + '_courseName'"
           th:field="*{studentsCourses[__${stat.index}__].courseName}" />
  </div>
  <button type="submit">touroku</button>
</form>
</body>
</html>
