<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>jukouseisyousai</title>
</head>
<body>
<h1>jukouseisyousai</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">

  <div>
    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{student.id}" required/>
    </div>
    <div>
    <label for="name">namae</label>
    <input type="text" id="name" th:field="*{student.name}" required />
  </div>

  <div>
    <label for="kanaName">kana</label>
    <input type="text" id="kanaName" th:field="*{student.kanaName}" required />
  </div>

  <div>
    <label for="nickname">nikkune-mu</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" />
  </div>

  <div>
    <label for="email">me-ru</label>
    <input type="email" id="email" th:field="*{student.email}" required />
  </div>

  <div>
    <label for="region">tiiki</label>
    <input type="text" id="region" th:field="*{student.region}" />
  </div>

  <div>
    <label for="age">nennrei</label>
    <input type="number" id="age" th:field="*{student.age}" />
  </div>

  <div>
    <label for="gender">seibetu</label>
    <input type="text" id="gender" th:field="*{student.gender}"/>
  </div>

  <div>
    <label for="remark">bikou</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>
 <div>
   <label for="isDeleted">kyannseru</label>
   <input type="checkbox" id="isDeleted" th:field="*{student.isDeleted}"/>
 </div>>
  <div th:each="course, stat : *{studentsCourses}">
    <label for="studentCourseId"
           th:for="studentCourse.__${stat.index}__.id">jyukouko-suID: </label>
    <input type="text"  id="studentCourseId" th:id="studentCourse.__${stat.index}__.id"
           th:field="*{studentsCourses[__${stat.index}__].id}"/>
    <label for="courseName"
           th:for="studentCourse.__${stat.index}__.courseName">jyukouko-sumei:</label>
    <input type="text" id="courseName" th:id="studentCourse.__${stat.index}__.courseName"
           th:field="*{studentsCourses[__${stat.index}__].courseName}"/>
  </div>
  <div>
  <button type="submit">kousinn</button>
  </div>
</form>

</body>
</html>